body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    color: black;
    position: relative;
}

body.dark-mode {
    background-color: black;
    color: white;
}

.container {
    text-align: center;
    flex: 1;
}

.button-container button {
    display: block;
    width: 250px;
    margin: 10px auto;
    padding: 15px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

#theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

#theme-toggle img {
    width: 30px;
    height: 30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="number"]:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

button {
    background-color: #f7f7f7;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #999c99;
}

#custom-hours-input, #absence-screen {
    margin-top: 50px;
}

input[type="number"], button {
    margin: 15px auto;
}

h1 {
    text-align: center;
    top: 20px;
    width: 100%;
    font-size: 2em;
}

#result-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.back-button {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
    color: black;
}

body.dark-mode footer p {
    color: white;
}

@media (max-width: 600px) {
    #theme-toggle {
        position: static;
        margin-top: 20px;
    }
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 70%;
    width: 30px; 
    height: 30px;
    padding: 0; 
    overflow: hidden; 
}

