body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    color: black;
    position: relative;
}

body.dark-mode {
    background-color: black;
    color: white;
}

.container {
    text-align: center;
}

.button-container button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

.hidden {
    display: none;
}

#theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

#theme-toggle img {
    width: 30px;
    height: 30px;
}